.login-bar {
  position: fixed; /* Stick to the top */
  top: 0; /* Position at the top */
  left: 0; /* Align to the left */
  width: 100%; /* Stretch to full width */
  z-index: 100; /* Ensure it stays on top of content */
  padding: 1rem;
  background-color: #f0f0f0;
}
.login-bar button {
  margin-left: 1rem;
  background-color: cornflowerblue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login-bar button:hover {
  background-color: darkblue;
}

.login-bar button.home-button {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}
