<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><% percentage %>%</h2>
    <% res.forEach( j => { %>
        <h3><%= j.num %></h1>
        <p><%= j.html %></p>
        <p>Expected: <%= j.expected %></p> <p>Response: <%= j.response %></p>
    <% }) %>
</body>
</html>